body, html {
    height: 100%;
    margin-top: 0.5rem;
    background-image: url('/background2.jpg');
    background-size: cover;
    background-color: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}